
body{
    background-color: #F7F7F7 !important;
}

.nav{
    height: 50px
}

.icon_1{
    width: 30px;
    height: 30px;
}

.products_row{
    background-color: white;
}

.product_img{
    height: 166px;
}

.product_box1{
    height: 168px;
}

.product1{
    width: calc(50% - 8px);
    height: 165px;
}

.product2{
    width: calc(50% - 8px);
    height: 165px;
}
.product3{
    width: calc(50% - 8px);
    height: 165px;  
}
.product4{
    width: calc(50% - 8px);
    height: 165px;
}

.explore_parent{
    background-color: white;
}

.support_container{
    background-color: white;
}

.footer_container{
    background-color: #191919 !important;
}

.footer_col h6{
    color: white;
}

.footer_col p{
    color: white;
}

.btn_footer{
    background-color: #191919;
}

.last_footer_p{
    color: gray;
}

.footer_hr{
    color: #2A2A2A;
}

#carousel_1 img{
    height: 240px;
}

.carousel_2_btn{
    height: 262px;
}